{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Invoice | Altaf| Bill</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  </head>


  <body>

    <section class="forms-section">
        <h1 class="section-title">Animated Forms</h1>

        <div class="forms">

        <div class="form-wrapper">
          <button type="button" class="switcher switcher-signup">
            Sign Up
            <span class="underline"></span>
          </button>

          <form class="form form-signup" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="hidden" name="form_type" value="formTwo">
            <fieldset>
              <legend>Please, enter your email, password and password confirmation for sign up.</legend>
              {% if messages %}
              {% for message in messages %}
              <p>{{message}}</p>
              {% endfor %}
              {% endif %}

              <div class="input-block">
                <label for="signup-email">Username</label>
                <input id="signup-email" type="name" required name="username">
              </div>

              <div class="input-block">
                <label for="signup-email">Username</label>
                <input id="signup-email" type="email" required name="email">  
              </div>

              <div class="input-block">
                <label for="signup-password">Password</label>
              <input id="signup-password" type="password" required name="password">
              </div>

              <div class="input-block">
                <label for="signup-password-confirm">Confirm password</label>
                <input id="signup-password-confirm" type="password" required name="password1"> 
              </div>

            </fieldset>
            <button type="submit" class="btn-signup">Sign Up</button>
          </form>
        </div>
      </section>

{% comment %} <script>
  const switchers = [...document.querySelectorAll('.switcher')]
  switchers.forEach(item => {
      item.addEventListener('click', function() {
          switchers.forEach(item => item.parentElement.classList.remove('is-active'))
          this.parentElement.classList.add('is-active')
      })
  })
</script> {% endcomment %}
</body>
</html>
