{% load static %}

{% block content %}

	<!-- SIGN UP -->
  <div class="col align-items-center flex-col sign-up">
    <div class="form-wrapper align-items-center">
      <div class="form sign-up">


                <form action="{% url 'account:registerpage' %}" method="POST"  enctype="multipart/form-data">  
                        {% csrf_token %} 
                        <input type="hidden" name="form_type" value="formOne">
          {% if messages %}
          {% for message in messages %}
          <p>{{message}}</p>
          {% endfor %}
          {% endif %}
        <div class="input-group">
          <i class='bx bxs-user'></i>
          <input type="text" placeholder="Username" name="username" required> 
        </div>
        <div class="input-group">
          <i class='bx bx-mail-send'></i>
          <input type="email" placeholder="Email" name="email" required>
        </div>
        <div class="input-group">
          <i class='bx bxs-lock-alt'></i>
          <input type="password" placeholder="Password" name="password1" required>
        </div>
        <div class="input-group">
          <i class='bx bxs-lock-alt'></i>
          <input type="password" placeholder="Confirm password" name="password2" required>
        </div>
        <button type="submit" id="btnid">
          Sign up
        </button>
                </form>

        <p>
          <span>
            Already have an account?
          </span>
          <b onclick="toggle()" class="pointer">
            Sign in here
          </b>
        </p>
      </div>
    </div>
  </div>
  <!-- END SIGN UP -->

  {% endblock %}